// Colors
$white: rgb(255, 255, 255);
$dark-blue: rgb(7, 7, 36);
$pale-blue: rgb(56, 56, 79);
$medium-grey: rgb(131, 131, 145);
$greyish-blue: rgb(65, 158, 187);
$beige: rgb(237, 162, 73);
$purple: rgb(109, 46, 213);
$brown: rgb(209, 76, 50);
$dark-red: rgb(216, 58, 52);
$dark-orange: rgb(205, 81, 32);
$light-green: rgb(30, 193, 162);
$blue: rgb(45, 104, 240);

// Font family
$ff-antonio: 'Antonio', sans-serif;
$ff-spartan: 'League Spartan', sans-serif;

// Font sizes
$h1-l: 8rem;
$h2-l: 4rem;
$h3-l: 1.2rem;
$h4-l: 1.1rem;
$text-l: 1.4rem;
