@use '../../Sass/variables';
@import '../../Sass/mixins';

.main {
  height: 80vh;
  @include flex-align-center;
  overflow: hidden;

  & .header_wrapper {
    @include flex-align-center;
    flex-direction: column;
    gap: 3.2rem;
    text-transform: uppercase;
    position: relative;
    max-width: 30rem;
  }

  & .header {
    font-family: variables.$ff-antonio;
    font-size: variables.$h1-l;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 0.8;

    @media screen and (max-width: 42em) {
      font-size: variables.$h1-m;
    }
  }

  & .secondary_header {
    font-family: variables.$ff-spartan;
    font-size: variables.$h3-l;
    letter-spacing: 2px;
    color: variables.$white;

    @media screen and (max-width: 42em) {
      font-size: variables.$h3-m;
    }
  }

  & .rocket_icon {
    height: 10rem;
    width: 10rem;

    position: absolute;
    animation: flyingRocket linear 4s infinite;
    z-index: -1;

    & img {
      transform: rotate(20deg);
    }

    @media screen and (max-width: 42em) {
      animation: flyingRocket 10s infinite;
      height: 7rem;
      width: 7rem;
    }
  }

  @keyframes flyingRocket {
    0% {
      transform: translate(-1300%, 355%);
    }

    100% {
      transform: translate(1300%, -355%);
    }
  }

  & .ufo_icon {
    height: 6rem;
    width: 6rem;
    position: absolute;
    transform: translateX(48rem);
    animation: ufoAnimation 6s ease-in-out infinite;

    @media screen and (max-width: 42em) {
      animation: ufoAnimation 12s infinite;
      height: 4rem;
      width: 4rem;
    }
  }

  @keyframes ufoAnimation {
    0% {
      transform: translateX(48rem);
    }

    50% {
      transform: translateX(-60rem);
    }

    100% {
      transform: translateX(36rem);
    }
  }
}

.video_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
