@use '../../Sass/variables';

.planet_info {
  max-width: 28.5rem;
  width: 100%;
  max-height: 12.8rem;
  color: variables.$white;
  text-transform: uppercase;
  border: 1px solid rgba(variables.$medium-grey, 0.2);
  text-align: left;

  padding: 2rem 2.4rem 2.7rem;

  @media screen and (max-width: 64em) {
    padding: 1.6 1.6rem 1.9rem;
  }

  & span {
    font-size: variables.$h4-l;
    font-family: variables.$ff-spartan;
    opacity: 0.5;
    letter-spacing: 1px;
    font-weight: 700;

    @media screen and (max-width: 64em) {
      font-size: variables.$h4-m;
    }
  }

  & h2 {
    font-size: variables.$h2-l;
    font-family: variables.$ff-antonio;
    letter-spacing: -1.5px;
    font-weight: 400;

    @media screen and (max-width: 64em) {
      font-size: variables.$h2-m;
    }
  }
}
