@use './Sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  background: url('./assets/images/background-stars.svg'),
    linear-gradient(variables.$dark-blue, variables.$dark-blue);
  background-position: center;
  background-size: auto;

  color: variables.$white;
  overflow-x: hidden;
}
