@use '../Sass/variables';

.section_layout {
  max-width: 160rem;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0 3.2rem 3.2rem;
  gap: 5rem;
  grid-template-rows: repeat(2, max-content);

  @media screen and (max-width: 42em) {
    padding: 0 2.4rem;
    margin-bottom: 6rem;
  }
}

.content_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  width: 90vw;
  margin-top: 5rem;

  @media screen and (max-width: 64em) {
    grid-template-columns: 1fr 1fr;
    max-width: unset;
    width: 90vw;
  }

  @media screen and (max-width: 42em) {
    margin-top: 10rem;
  }
}

.img_container {
  align-self: center;
  justify-self: center;
  max-height: 58rem;
  max-width: 58rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 64em) {
    grid-column: span 2;
    margin-bottom: 4rem;
  }
}

.geology_img {
  max-width: 16.3rem;
  max-height: 20rem;
  position: absolute;
  bottom: -2rem;
  transform: translateY(5rem);
  opacity: 0;

  transition: 0.5s all ease-in-out;
  transition-delay: 0.1s;

  @media screen and (max-width: 64em) {
    max-width: 12.3rem;
    max-height: 15.9rem;
  }

  @media screen and (max-width: 42em) {
    max-width: 8.3rem;
    max-height: 11.9rem;
  }
}

.geology_img--visible {
  transform: translateY(0);
  opacity: 1;

  @media screen and (max-width: 64em) {
    transform: translateY(-3rem);
  }
}

.description_container {
  grid-column: 2/3;

  @media screen and (max-width: 64em) {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  @media screen and (max-width: 42em) {
    align-self: center;
  }
}

.buttons {
  width: 100%;

  @media screen and (max-width: 64em) {
    max-width: 28.1rem;
  }

  @media screen and (max-width: 42em) {
    position: absolute;
    top: -10rem;
    left: -2.8rem;
    width: 100vw;
  }
}

.planet_info_container {
  max-width: 160rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;

  @media screen and (max-width: 64em) {
    gap: 1.2rem;
  }

  @media screen and (max-width: 42em) {
    flex-direction: column;
  }
}
